---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

{% include vendor/css/leaflet.css %}
{% include vendor/css/MarkerCluster.css %}
{% include vendor/css/MarkerCluster.default.css %}


$savas-blue: #14133b;
$savas-fuschia: #9e023b;
$highlight: #fbf8b2;

// Overrides to Savas CSS
header.navigation .navigation-wrapper {
  padding: 0;
}

p {
  color: white;
}

h1 {
  font-weight: bold;
  padding: 0 25px;
  color: white;
  font-size: inherit;
}

// Site specific CSS

.map-content-div {
  background-color: $savas-blue;
}

#map {
  min-height: 300px;
  width: 100%;
  height: 100%;
}

.map-header {
  text-align: center;
  .post-description {
    text-align: left;
  }
  p {
    margin: 0 10%;
  }
}

ul.time-slider, ul.options {
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
  text-align: left;
  display:inline-block;

  li {
    float: left;
    padding: 2px 5px;
    margin: 5px 10px;
    background: white;

    &.selected {
      background-color: $savas-fuschia;
    }

    &.mouse-over {
      background-color: lighten($savas-fuschia, 50);
    }
  }
}

ul.options {
  padding-left: 2em;
}


// Map styling

.legend {
  color: #555;
  background: transparentize(white, 0.3);
  padding: 0 10px;
  border-width: 2px;
  border-radius: 2px;
  line-height: 25px;
  div {
    width: 0;
    height: 0;
    float: left;
    margin-right: 5px;
    margin-top: 2px;
  }
}

.restaurant-icon {
  background: $savas-fuschia;
  border: 7px solid $savas-fuschia;
  border-radius: 7px;
  -moz-box-shadow: 0 0 1px 0px $savas-fuschia;
  -webkit-box-shadow: 0 0 1px 0px $savas-fuschia;
  box-shadow: 0 0 1px 0px $savas-fuschia;
}

// Scale dependent icon sizes.

@for $zoom from 10 through 16 {
  .zoom-#{$zoom} .restaurant-icon {
    border-radius: 7px + (3px * ($zoom - 10)) / 6;
    border-width: 7px + (3px * ($zoom - 10)) / 6;
    left: - (3px * ($zoom - 10)) / 6;
    top: - (3px * ($zoom - 10)) / 6;

    &.legend {
      left: 0;
      top: 0;
    }
  }

  @if $zoom >= 14 {
    .zoom-#{$zoom} .restaurant-icon {
      -moz-box-shadow: 0 0 2px 0px white;
      -webkit-box-shadow: 0 0 2px 0px white;
      box-shadow: 0 0 2px 0px white;
    }

    .zoom-#{$zoom} .restaurant-new {
      -moz-box-shadow: 0 0 2px 0px $highlight;
      -webkit-box-shadow: 0 0 2px 0px $highlight;
      box-shadow: 0 0 2px 0px $highlight;

      -moz-animation: flash 1s ease-out;
      -moz-animation-iteration-count: 1;

      -webkit-animation: flash 1s ease-out;
      -webkit-animation-iteration-count: 1;

      -ms-animation: flash 1s ease-out;
      -ms-animation-iteration-count: 1;
    }
  }
}

.restaurant-closed {
  opacity: 0.5;
}

@-webkit-keyframes flash {
  0% { border-color:$highlight;}
  50% { border-color:$highlight;}
  100% {border-color:none;}
}

@-moz-keyframes flash {
  0% { border-color: $highlight;}
  50% { border-color: $highlight;}
  100% {border-color: none;}
}

@-ms-keyframes flash {
  0% { border-color: $highlight; }
  50% { border-color: $highlight; }
  100% {border-color: none;}
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
  p {
    color: black;
    margin: 5px 0;
  }
}

.leaflet-popup-content {
  max-height: 300px;
  overflow: auto;
}





