---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

{% include vendor/css/leaflet.css %}
{% include vendor/css/MarkerCluster.css %}
{% include vendor/css/MarkerCluster.default.css %}


$savas-blue: #14133b;
$savas-fuschia: #9e023b;

// Overrides to Savas CSS
header.navigation .navigation-wrapper {
  padding: 0;
}

p {
  color: white;
  &.post-title {
    font-weight: bold;
    padding: 0 25px;
    text-align: center;
  }
}

// Site specific CSS

.map-content-div {
  background-color: $savas-blue;
}

#map {
  min-height: 300px;
  width: 100%;
  height: 100%;
}

.map-header {
  text-align: center;
}

ul.time-slider {
  margin: 0 auto;
  padding: 0;
  text-align: left;
  display:inline-block;

  li {
    float: left;
    padding: 2px 5px;
    margin: 5px 10px;
    background: white;

    &.selected {
      background-color: $savas-fuschia;
    }

    &.mouse-over {
      background-color: lighten($savas-fuschia, 50);
    }
  }
}


// Map styling

.restaurant-icon {
  background: $savas-fuschia;
  border: 6px solid $savas-fuschia;
  border-radius: 6px;
  -moz-box-shadow: 0 0 1px 0px $savas-fuschia;
  -webkit-box-shadow: 0 0 1px 0px $savas-fuschia;
  box-shadow: 0 0 1px 0px $savas-fuschia;
}

// Scale dependent icon sizes.

@for $zoom from 10 through 16 {
  .zoom-#{$zoom} .restaurant-icon {
    border-radius: 6px + (8px * ($zoom - 10)) / 6;
    border-width: 6px + (8px * ($zoom - 10)) / 6;
    left: - (8px * ($zoom - 10)) / 6;
    top: - (8px * ($zoom - 10)) / 6;

    @if $zoom == 13 {
      -moz-box-shadow: 0 0 1px 0px white;
      -webkit-box-shadow: 0 0 1px 0px white;
      box-shadow: 0 0 1px 0px white;
    }

    @if $zoom > 13 {
      -moz-box-shadow: 0 0 2px 2px white;
      -webkit-box-shadow: 0 0 2px 2px white;
      box-shadow: 0 0 2px 2px white;
    }
  }
}





