---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

{% include vendor/css/leaflet.css %}
{% include vendor/css/MarkerCluster.css %}
{% include vendor/css/MarkerCluster.default.css %}

// Overrides to Savas CSS
header.navigation .navigation-wrapper {
  padding: 0;
}

p {
  color: white;
  &.post-title {
    font-weight: bold;
    padding: 0 25px;
    text-align: center;
  }
}

// Site specific CSS

.map-content-div {
  background-color: #14133b;
}

#map {
  min-height: 300px;
  width: 100%;
  height: 100%;
}